<div>
  <img id="cerveza" src='/images/beer.png' height='250px' width='250px' />
</div>

<div>
  <a href='/beers'>
    <button id='principal'>Check the Beers!</button>

  </a>
</div>

<div>
  <a href='/random-beer'>

    <button id='principalDos'>Check a Ramdom Beer!</button>

  </a>

</div>

<div id="final">
    <h5>Develop by Ironhack ;) </h5>
</div>